{% extends 'pos/plantilla.html' %}

{% block content %}
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Eliminar Producto</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 panel">
            <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                <div class="col-md-12">
                    <form method="POST" class="cmxform">{% csrf_token %}
                        <div class="col-md-12">
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <h4>Producto: {{producto.nombre}}</h4>
                            </div>
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <h4>Precio compra: {{producto.precio_compra}}</h4>
                            </div>
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <h4>Precio venta: {{producto.precio_venta}}</h4>
                            </div>
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <h4>Existencia: {{producto.existencia}}</h4>
                            </div>
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                <h4>Categoria: {{producto.categoria}}</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a class="submit btn btn-danger" href="/producto">Cancelar</a>
                            <input class="submit btn btn-success" type="submit" value="Eliminar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}